.contact_title{
    font-size: 1.4rem;
    padding: 1px;
    padding-left: 15px;
    border-bottom: 1px solid black;
}

.contact_title:hover{
    cursor: pointer;
    background: blue;
    color: white;
}