.dashboard-container{
    
    display: grid;
    grid-template: 
        'Content' 100vh
    ;

}

.contenido{
    grid-area: Content;
    display: grid;

}




@media (min-width :600px){
    
    .dashboard-container{
        display: grid;
        grid-template: 
            'Sidebar Content' 100vh / 30%
    }
}


@media (min-width :900px){
    .dashboard-container{

        /* grid-template-areas: 
            'Sidebar Content';
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr ; */

        display: grid;
        grid-template: 
            'Sidebar Content' 100vh / 25%
        ;
    }
    
}